
.uk-table th.overview {
background-color:rgba(49, 110, 151, 0.1);
padding: 16px 16px;
text-transform: none; !important
}


.uk-table  {
padding-bottom: 0px !important;
margin-bottom: 0px !important;


}


.overviewEmployee {
border-top-style: solid;
border-bottom-style: solid;
border-top-width: thin;
border-bottom-width: thin;
border-top-color: lightgrey;
border-bottom-color: lightgrey;
color:#2E6D99;
font-size:24pt;
font-weight: 600;
}


.overviewItem {
border-top-style: none;
border-bottom-style: none;
border-top-width: thin;
border-bottom-width: thin;
border-top-color: lightgrey;
border-bottom-color: lightgrey;
font-size:12pt;
font-weight: 600;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;

}


.overviewComment
{

font-size:10pt;
font-weight: 400;
color:rgba(49, 110, 151, 1.0);
}

